<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bx.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bx.model.Users" >
    <id column="id" property="id" jdbcType="VACHAR" />
    <result column="userName" property=userName" jdbcType="VACHAR" />
    <result column="password" property="password" jdbcType="VACHAR" />
    <result column="email" property="email" jdbcType="VACHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="delete_flag" property="delete_flag" jdbcType="VACHAR" />
  </resultMap>
  <sql id="Base_Column_List">
      id, userName, password, email, sex, age, delete_flag
  </sql>
  <select id="userList" resultMap="BaseResultMap">
     select 
     <include refid="Base_Column_List" />
     from tbl_users_info  
  </select>
</mapper>